</div>
<footer class="fade-in" id="connect">
  <section>
    <address>
      <h4>Contact Information:</h4>
      <a>Phone: +25459524333</a>
      <a href="mailto:joshnjenga066@gmail.com">joshnjenga066@gmail.com</a>
      <a
        href="https://www.google.com/maps/place/Tum/@-4.043477,39.6579282,15z/data=!3m1!4b1!4m6!3m5!1s0x1840130019ee72d7:0x2d5f02b151b4a4ff!8m2!3d-4.0434771!4d39.6682065!16s%2Fg%2F11vrvkfx21?entry=ttu">
        Address: Mombasa, Kenya</a>
    </address>

    <div>
      <h4>Socials:</h4>
      <a href="https://wa.me/0759524333"><i class="fa-brands fa-whatsapp"></i>Here's my DM
      </a>
      <a href="https://instagram.com/ianjosh5"><i class="fa-brands fa-instagram"></i>Here's Instagram</a>
      <a href="https://tiktok.com/@ianjosh5_"><i class="fa-brands fa-tiktok"></i>Here's my TikTok</a>
      <a href="https://ke.linkedin.com/in/josh-njenga-91b67b29b"><i class="fa-brands fa-linkedin"></i>My Linked
        In</a>
      <a href="https://github.com/ianJINW"><i class="fa-brands fa-github"></i>This is what I've done on GitHub</a>
      <a href=""><i class="fa-brands fa-facebook"></i>. Connect on facebook</a>
    </div>
  </section>
  <p>&copy; 2024 Made By Njenga Ian Wandaka. All rights reserved.</p>
</footer>
</body>

</html>