<%- include('partials/header') %> <!-- Ensure isLoggedIn is passed here -->
  <main>
    <h2>Something went wrong</h2>
    <p>Sorry, there was an internal server error. Please try again later.</p>
  </main>
  <%- include('partials/footer') %>