<%- include('partials/header') %>
  <main>
    <div class="bg-background text-primary-foreground min-h-screen flex flex-col items-center justify-space-evenly">
      <h1 class="text-4xl font-bold mb-4">Share Your Moments</h1>
      <p class="text-lg mb-8">Join our community and start sharing your favorite images and videos with the world.</p>
      <div class="flex flex-wrap justify-center">
        <a href="/posts">
          <button class="bg-primary text-primary-foreground rounded-lg  hover:bg-primary/80">Get
            Started</button>
        </a>
        <button class="bg-secondary text-secondary-foreground px-4 py-2 rounded-lg mb-4 hover:bg-secondary/80">Learn
          More</button>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>