<%- include('partials/header') %>
  <fieldset>
    <legend>Sign up</legend> <span class='close' title="Close Modal">&times;</span>

    <form action="/register" method="POST">
      <label for="email">Email</label>
      <input required type="email" name="email" id="email" placeholder="Email please">

      <label for="username">Username</label>
      <input required type="text" name="username" id="username" placeholder="Username please">

      <label for="password"></label>
      <div class="pass">
        <input required type="password" name="password" placeholder="Input password please" id="sPassword">
        <input type="button" class="showP" value="Show">
      </div>
      <input type="file" name="profile" id="dp">
      <input required type="submit" value="Register">

      <a href="#">Have an account? Log in</a>
    </form>

    <% if (typeof error !=='undefined' ) { %>
      <p style="color:red;">
        <%= error %>
      </p>
      <% } %>
        <%- include('partials/footer') %>